/*Fonts 
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&family=Roboto:wght@300;700&display=swap');

/* GENERAL SETTINGS */
/* reset css ->tüm css özelliklerini sıfırlıyor
    normalize css-> tüm özellikleri ortaklaştırıyor//tarayıcı arası farkları kaldırıyor
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* --css variables */
:root {
    --primary-font: 'Raleway', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --primary-color: #4792a5;
    --light-color: #efefef;
    --dark-color: #3c3c3c; 
}

html {
    font-size: 10px;
    color: var(--dark-color);
    font-family: var(--primary-font);
    scroll-behavior: smooth; /*sayfa geçişleri efektif */

}

section {
    padding-top: 16rem; /*font-size=>10px(1rem) 16rem=>160px */
    padding-bottom: 8rem;
    min-height: 100vh; /*vertical height-tüm ekranı kapsa*/

}

p {
    font-size: 1.4rem;
    line-height: 2.5rem;/*2 satır arası boşluk */
}

h1, h2, h3, h4 {
    color: var(--primary-color);
    font-family: var(--primary-font);
    
}

button {
    border: none;
    font: inherit;/*parent elemandan al */
    color: inherit;
    background-color: transparent;/* olmasın*/
    cursor:pointer; /* ??? */

}

a {
    text-decoration: none;
    font-family:var(--secondary-font);
}

img {
    width: 100%;/* parent boyutuna göre boyutlanır */
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 114rem;/* 1140px boostrap default container boyutu*/
    margin: 0 auto;/* ortala*/
}


/** HERO SECTION **/

#hero {
    width: 100%;
    /* image üzerinde siyahımsı bir overlay var*/ 
    /*rgba 0.7 siyahlık veriyor üzerine 1 en koyu 0 en açığı */
    background:linear-gradient(0deg, rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../img/main_bg.jpg');
    background-size: cover;/* Mümkün olduğu kadar kapsa*/
    background-attachment: fixed; /* scroll aşağı inerken background sabit şekilde durur */
    position: relative;
}

.hero-content {
    width: 90%;
    position:absolute;/* ortalamak için*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);/*büyüklüğü kadar yukarı sola çeker */
    text-transform: uppercase;/* Tüm içeriği büyük harf yapar*/
    text-align: center; /* contentde içeriği ortalar */
}

.main-title {
    font-family: var(--primary-font);
    font-size: 8rem;
    font-weight: 100px;
    letter-spacing: 2rem;
    padding-bottom: 2rem;
}

.main-slogan {
    font-size: 1.6rem;
    color:var(--light-color);
    letter-spacing: 2.4rem;
    padding-bottom: 2rem;
}